<!--<h3>Header component</h3>-->
<!--<a class="btn btn-default btn-sm" ng-click="$ctrl.setView('list')">List</a>-->
<!--<a class="btn btn-default btn-sm" ng-click="$ctrl.setView('table')">Table</a>-->
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-4 col-lg-4">
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 login">
            <h3>Login</h3>
            <form>
                <p>
                    <input type="text" name="name" value="" id="name"
                           placeholder="Username" ng-model="name" required>
                </p>
                <p class="submit">
                    <input type="submit" name="commit" value="Join!" ng-click="login()">
                </p>
            </form>
        </div>
    </div>
</div>

